@import url("https://fonts.cdnfonts.com/css/sofia-pro");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --body_background: white;
  --body_color: black;
  --container_bg: #f5f5f5;
  --container_shadow: #dbdbdb;
  --item_shadow: #505050;
  --item_content: black;
  --buttons_button_boder: #555;
  --buttons_button_hover_background: black;
  --buttons_button_hover_color: white;
  --ball_bg: black;
  --toggle_bg: white;
  --toggle_shadow: #0000001a;
  --card_shadow: black;
  --card_color: #004c8a;
  --card__blur_bg: black;
  --conection_bg: white;
  --job_color: #007acc;
  --scroll_progres_bg: #007bff;
  --scroll_buttin_bg: #007bff;
  --scroll_color: #fff;
  --shadow_bg: #00000040;
  --edge_bg1: #084777;
  --edge_bg2: #09538b;
  --front_color: white;
  --front_bg: #0d69af;
  --translate_bg: white;
  --translate_color: white;
  --translate_lang_color: #374151;
  --translate_line: #e5e7eb;
  --translate_hover_bg: #f3f4f6;
  --translate_shadow: #80808033;
  --link_color: white;
  --link_hover: white;
  --nav_bg1: #a4bac8;
  --nav_bg2: #91adc0;
  --nav_bg3: #7fa0b8;
  --carousel_h1: #0b3558;
  --carousel_hr: #008dfd;
  --carousel_p: #0b3558;
  --carousel_span: #008dfd;
  --carousel_gradient1: #a4bac8;
  --carousel_gradient2: #91adc0;
  --buttons_bg: white;
  --cont_bg: white;
  --name_color: white;
  --eamil_bg1: #191919;
  --eamil_bg2: #191919;
  --eamil_bg3: #2c2c2c;
  --loading_bg: white;
  --loading_blob: black;
  --scrol_bg: #85a4bb;
  --name1_color: black;
  --review_bg: black;
  --arrow: black;
  --loading_text: black;
}

[data-theme="dark"] {
  --loading_text: white;
  --body_background: black;
  --body_color: white;
  --container_bg: #222;
  --container_shadow: #111;
  --item_shadow: #333;
  --item_content: white;
  --buttons_button_boder: #777;
  --buttons_button_hover_background: white;
  --buttons_button_hover_color: black;
  --ball_bg: white;
  --toggle_bg: black;
  --toggle_shadow: #ffffff1a;
  --card_shadow: rgb(160, 158, 158);
  --card_color: #bebebe;
  /* Adjusted to a typical blue color for dark themes */
  --card__blur_bg: #454545;
  --conection_bg: white;
  --job_color: white;
  --scroll_progres_bg: #007acc;
  --scroll_buttin_bg: #007acc;
  --scroll_color: white;
  --shadow_bg: #71717140;
  --edge_bg1: #084777;
  --edge_bg2: #09538b;
  --front_color: black;
  --front_bg: #0d69af;
  /* Adjusted to a typical blue color for dark themes */
  --translate_bg: black;
  --translate_color: white;
  --translate_lang_color: white;
  --translate_line: #a1a3a6;
  --translate_hover_bg: #333;
  --translate_shadow: #ffffff89;
  --link_color: #cbd5d5;
  --link_hover: #cbd5d5;
  --nav_bg1: #181818;
  --nav_bg2: #0b0b0b;
  --nav_bg3: #161616;
  --carousel_h1: #bebebe;
  --carousel_hr: #008dfd;
  --carousel_p: #bebebe;
  --carousel_span: #008dfd;
  --carousel_gradient1: #474747ca;
  --carousel_gradient2: #323232;
  --paralax_p: #bebebe;
  --buttons_bg: black;
  --cont_bg: black;
  --name_color: #007acc;
  --eamil_bg1: #191919;
  --eamil_bg2: #191919;
  --eamil_bg3: #2c2c2c;
  --loading_bg: black;
  --loading_blob: white;
  --scrol_bg: #303030;
  --name1_color: white;
  --arrow: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--body_color);
  background-color: var(--body_background);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  user-select: none; /* Dezactivează selecția textului */
  transition: all 0.3s;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #242424;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--scrol_bg);
}

.blobs {
  width: 300px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  border-radius: 70px;
  transform-style: preserve-3d;
}

.blobs .blob-center {
  transform-style: preserve-3d;
  position: absolute;
  background: #1d1d1d;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform-origin: left top;
  transform: scale(0.9) translate(-50%, -50%);
  animation: blob-grow_2 linear 3.4s infinite;
  border-radius: 50%;
  box-shadow: 0 -10px 40px -5px #1d1d1d;
}

.blob {
  position: absolute;
  background: #1d1d1d;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: blobs_2 ease-out 3s infinite;
  transform: scale(0.9) translate(-50%, -50%);
  transform-origin: center top;
  opacity: 0;
}

.blob:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.blob:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.blob:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.blob:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.blob:nth-child(5) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes blobs_2 {
  0% {
    opacity: 0;
    transform: scale(0) translate(calc(-330px - 50%), -50%);
  }

  1% {
    opacity: 1;
  }

  35%,
  65% {
    opacity: 1;
    transform: scale(0.9) translate(-50%, -50%);
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0) translate(calc(330px - 50%), -50%);
  }
}

@keyframes blob-grow_2 {
  0%,
  39% {
    transform: scale(0) translate(-50%, -50%);
  }

  40%,
  42% {
    transform: scale(1, 0.9) translate(-50%, -50%);
  }

  43%,
  44% {
    transform: scale(1.2, 1.1) translate(-50%, -50%);
  }

  45%,
  46% {
    transform: scale(1.3, 1.2) translate(-50%, -50%);
  }

  47%,
  48% {
    transform: scale(1.4, 1.3) translate(-50%, -50%);
  }

  52% {
    transform: scale(1.5, 1.4) translate(-50%, -50%);
  }

  54% {
    transform: scale(1.7, 1.6) translate(-50%, -50%);
  }

  58% {
    transform: scale(1.8, 1.7) translate(-50%, -50%);
  }

  68%,
  70% {
    transform: scale(1.7, 1.5) translate(-50%, -50%);
  }

  78% {
    transform: scale(1.6, 1.4) translate(-50%, -50%);
  }

  80%,
  81% {
    transform: scale(1.5, 1.4) translate(-50%, -50%);
  }

  82%,
  83% {
    transform: scale(1.4, 1.3) translate(-50%, -50%);
  }

  84%,
  85% {
    transform: scale(1.3, 1.2) translate(-50%, -50%);
  }

  86%,
  87% {
    transform: scale(1.2, 1.1) translate(-50%, -50%);
  }

  90%,
  91% {
    transform: scale(1, 0.9) translate(-50%, -50%);
  }

  92%,
  100% {
    transform: scale(0) translate(-50%, -50%);
  }
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text{
    font: 1.125rem;
    margin-top: 1vh;
}

.fade-in1 {
    animation: fadeIn 2s ease-in-out;
    /* Adjust the duration and easing as needed */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 1s ease;
  }
  
  .fade-in-up.show {
    opacity: 0;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translateY(120px);
      opacity: 0;
    }
  
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }