@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Unbounded:wght@300&display=swap");
@import url("https://fonts.cdnfonts.com/css/sofia-pro");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.nav {
    background-color: var(--nav_bg3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.logo {
    width: 150px;
}

.navBtnsDiv {
    display: flex;
    gap: 20px;
}

.navBtns {
    text-decoration: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: white;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 150;
}

.burger div {
    width: 27px;
    height: 4px;
    background-color: white;
    margin: 2px;
    border-radius: 3px;
}

.mobile-menu {
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    color: white;
    background-image: linear-gradient(to bottom, var(--nav_bg1), var(--nav_bg2), var(--nav_bg3));
    height: 100%;
    width: 100%;
    padding: 10px;
    animation: slideDown 0.2s ease-in-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu a {
    margin: 10px 0;
}

@media (max-width: 768px) {

    .navbar .links,
    .navbar .buttons {
        display: none;
    }

    .burger {
        display: flex;
    }

    .mobile-menu {
        display: flex;
        justify-items: center;
        align-items: center;
        padding-top: 70%;
    }
}