.logoSave {
    width: 90px;
}

.saveBtn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #4356FA;
    text-decoration: none;
    color: white;
    font-weight: 600;

}

.phoneIcon {
    width: 18px;
}

.display {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.right {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interfaceLinks {
    color: rgb(163, 163, 163);
    text-decoration: none;
    font-weight: 600;
}

.buildStruct {
    background-color: #616467;
    width: 240px;
    height: 90vh;
    display: none;
}

.build{
    padding: 16px;
    width: 300px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 6px;
}

.box{
    width: 100px;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 0;
}

.temp-boxes{
    border-radius: 4px;
    width: 210px;
    border: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temp-img{
    width: 200px; 
    border-radius: 4px;

}

.title{ 
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin-bottom: 6px;
}

.undo, .redo{
    width: 25px;
}

.controls{
    background-color: transparent;
    border: 0;
}

section{
    display: flex;
}


.templates {
    background-color: #616467;
    width: 240px;
    display: none;
}